@import 'styles/variables.scss';

.app {
  margin: 80px auto $base-margin auto;
  padding: 0 2 * $base-padding 2 * $base-padding 2 * $base-padding;

  width: 960px;
  background-color: $white;
}

.line {
  border: none;
  height: 5px;
  background-color: #ededed;
}

.allelement {
  transform: translate(0, -80px);
}